.photo {
    width: 100px;
}

.page {
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.selectedPage {
    font-size: 20px;
    color: gold;
    font-weight: bold;
    cursor: pointer;
}
