.profileInfo img {
    height: 400px;
}

.descriptionBlock {
    padding: 20px;
}

.img {
    max-width: 200px;
    max-height: 200px;
}

.contact {
    padding-left: 10px;
}

.formControlSummaryError {
    padding: 5px;
    color: red
}